@page
@model Orchardist.Pages.GlobalPlants.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>GlobalPlantList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GlobalPlantList.FruitVariety" class="control-label"></label>
                <input asp-for="GlobalPlantList.FruitVariety" class="form-control" />
                <span asp-validation-for="GlobalPlantList.FruitVariety" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlobalPlantList.Name" class="control-label"></label>
                <input asp-for="GlobalPlantList.Name" class="form-control" />
                <span asp-validation-for="GlobalPlantList.Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="GlobalPlantList.UseBy" class="control-label"></label>
                <input asp-for="GlobalPlantList.UseBy" class="form-control" />
                <span asp-validation-for="GlobalPlantList.UseBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlobalPlantList.Parentage" class="control-label"></label>
                <input asp-for="GlobalPlantList.Parentage" class="form-control" />
                <span asp-validation-for="GlobalPlantList.Parentage" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="GlobalPlantList.Origin" class="control-label"></label>
                <input asp-for="GlobalPlantList.Origin" class="form-control" />
                <span asp-validation-for="GlobalPlantList.Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
